<div class="container">
    <div >

        <h3 class="text-center">Sprint</h3>
        <div class="main" >
            <div class="rectangle" *ngFor ="let data of sprintItem" (click)="showStory(data.sprint)">
                <h4>{{data.sprintName}}</h4>
            </div>
            
        </div>

    </div>


   
</div>


<h1>test update 000</h1>
<p>main qwwww</p>


<span>9562475243 mmmmmmmm</span>
<span>9562475243</span>
<span>9562475243</span>
<span>sefna</span>
<span>azwwwaz</span>
ddd
arrrrr
it is main

main 1


this is fggg

hjjhhjhj